= simple_form_for(message) do |f|
  = f.error_notification

  .form-inputs
    = f.input :posted_text
    = f.input :provider
    = f.input :nickname
    = f.association :identity
    = f.association :project
    = f.input :posted_at, :as => :string, :input_html => { :class => "datepicker" }

  .form-actions
    = f.button :submit
