.page-header
  %h1
    Message
    .pull-right
      = link_to raw(t('edit')), [:edit, message], :class => 'btn btn-primary'
      = link_to raw(t('back',to: "Messages")), messages_path, :class => 'btn btn-default'
%dl
  %dt Posted text:
  %dd= message.posted_text
  %dt Provider:
  %dd= message.provider
  %dt Nickname:
  %dd= message.nickname
  %dt Identity:
  %dd= message.identity
  %dt Project:
  %dd= message.project
  %dt Posted at:
  %dd= message.posted_at

