.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h4 Profile
      .panel-body
        %p
          Name: #{@user.name if @user.name}
        %p
          Email: #{@user.email if @user.email}
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h4 Identities
      .panel-body
        - @user.identities.each do |identity|
          .media
            = link_to '#', class: 'media-left' do
              %img{src: identity.image, alt: identity.name}
            .media-body
              %h5.media-heading
                = identity.provider.titleize
              %dl
                %dd= identity.name
                %dd= identity.email
