.page-header
  %h1
    Projects
    .pull-right
      = link_to t('new', model_name: 'Project').html_safe, new_project_path, :class => 'btn btn-primary'

%table#projects.table.table-bordered.table-striped.dataTable{:data => {:source => projects_url(:format => 'json')}}
  %thead
    %tr
    %th Name
    %th Start date
    %th End date
    %th
  %tbody
    - projects.each do |project|
      %tr
      %td= project.name
      %td= project.start_date
      %td= project.end_date
      %td
        = link_to raw(t('edit')), edit_project_path(project), :class => 'btn btn-xs'
        = link_to raw(t('destroy')), project, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-xs btn-danger'
