.page-header
  %h1
    = project.name
    .pull-right
      = link_to raw(t('edit')), [:edit, project], :class => 'btn btn-primary'
      = link_to raw(t('back',to: "Projects")), projects_path, :class => 'btn btn-default'
.row
  .col-md-5
    - project.documents.images.each do |document|
      - if document.content_type == 'image/jpeg'
        %img.thumbnail{src: document.media.download_url(document.media), alt: document.name}
      - else
        = link_to document.name, document.media.download_url(document.media)
  .col-md-7
    %dl
      %dt Summary:
      %dd= project.summary
      - unless project.description.blank?
        %dt Description:
        %dd= project.description
      - unless project.location.blank?
        %dt Location:
        %dd= project.location
      %dt Hashtag:
      %dd= project.hashtag
      %dt Start date:
      %dd= project.start_date
      %dt End date:
      %dd= project.end_date
    %h5 Documents
    %ul
      - project.documents.files.each do |doc|
        %li= link_to doc.name, doc.media.download_url(doc.media)
    %h5 Messages
    %table#messages.table.table-striped.table-responsive
      %thead
        %tr
          %th Message
          %th User
          %th Time
      %tbody
        - project.messages.each do |message|
          %tr
            %td= message.msg
            %td= message.nickname
            %td= message.created_at

